In [1]:
import pandas as pd

## Raw data cleaning and feature engineering

In [2]:
# Load in raw data from csv file
raw = pd.read_csv('../data/raw/adr6921_Suppl_Excel_v2.csv',
                  encoding_errors='replace')

In [10]:
# Inspect first few rows of the dataframe
raw.head(20)

,factory_id,country,lat,long,company,data_type,material_type,material_type_simple,comm_name,sci_name,func_group,source,website,date
0,1,Argentina,-37.9784,-57.5903,Agustiner S.A.,A,fishery by-products,by-products,NaN,NaN,NaN,IFFO,https://seafood.media/agustiner/,24-Feb
1,2,Argentina,-38.0462,-57.5459,Coomarpes Ltda.,A,fishery by-products,by-products,NaN,NaN,NaN,IFFO,https://www.coomarpes.com.ar/en/,24-Feb
2,3,Argentina,-42.7223,-65.0332,Harinas Patagonicas S.R.L,A,fishery by-products,by-products,shrimp,NaN,Shrimps,NaN,https://www.aquafeed.com/newsroom/news/argenti...,24-Apr
3,4,Argentina,-38.0015,-57.6648,Gihon- Laboratorios Químicos SRL,A,NaN,NaN,NaN,NaN,NaN,MarinTrust,https://www.gihonlab.com/en/naturales/producto...,24-Mar
4,5,Australia,-33.4335,150.9982,CSF Proteins Pty Ltd,A,misc by-products,by-products,NaN,NaN,NaN,IFFO,https://www.csfproteins.com.au,24-Feb
5,6,Australia,-37.8230,144.8131,CSF Proteins Pty Ltd,A,misc by-products,by-products,NaN,NaN,NaN,IFFO,https://www.csfproteins.com.au,24-Feb
6,7,Australia,-35.9502,150.0980,Proteins Australia Pty Ltd,A,whole,whole,mackerel,Scomber scombrus,Medium pelagics (30 - 89 cm),MarinTrust,NaN,24-Mar
7,8,Australia,-42.1581,146.6091,NuBlend Pty Ltd,C,misc by-products,by-products,NaN,NaN,NaN,https://www.trade-seafood.com/directory/seafoo...,https://www.nublend.com.au/index.php/products,24-Feb
8,9,Australia,-37.8158,144.9663,Australian Fishmeal Company,A,whole,whole,NaN,NaN,NaN,NaN,https://fishmeal.co/,24-Apr
9,10,Brazil,-29.5099,-52.0675,FASA,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,https://www.fasa.ind.br/produtos/?lang=en,24-Apr
10,11,Brazil,-25.9456,-53.1712,Levo Alimentos,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,https://levoalimentos.com.br/,24-Apr
11,12,Brazil,-8.3075,-36.0365,Nutrivil,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,http://nutrivil.com.br/segmento/peixe/,24-Apr
12,13,Brazil,-23.4541,-51.9991,A&R Nutricao Animal,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,http://www.argroup.com.br/,24-Apr
13,14,Brazil,-24.5886,-53.2962,A&R Nutricao Animal,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,http://www.argroup.com.br/,24-Apr
14,15,Brazil,-24.6289,-53.3241,Copacol,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,https://www.copacol.com.br/copacol,24-Apr
15,16,Brazil,-23.1771,-52.2297,Protein Meal Tec,A,misc by-products,by-products,NaN,NaN,NaN,https://brazilianrenderers.com/members/,https://www.proteinmealtec.com.br/,24-Apr
16,17,Brazil,-22.7727,-42.7774,Patense,A,misc by-products,by-products,NaN,NaN,NaN,IFFO,https://patense.com.br/en/production-lines/,24-Feb
17,18,Canada,49.2849,-123.0713,West Coast Reduction Ltd.,A,fishery by-products,by-products,Pacific Herring,Clupea pallasii,Medium pelagics (30 - 89 cm),Government of Canada Industry report (1993),https://www.wcrl.com/finished-products,24-Apr
18,18,Canada,49.2849,-123.0713,West Coast Reduction Ltd.,A,fishery by-products,by-products,Salmon,Oncorhynchus spp.,Medium pelagics (30 - 89 cm),Government of Canada Industry report (1993),https://www.wcrl.com/finished-products,24-Apr
19,19,Canada,49.1400,-123.8780,West Coast Reduction Ltd.,A,fishery by-products,by-products,Pacific Herring,Clupea pallasii,Medium pelagics (30 - 89 cm),Government of Canada Industry report (1993),https://www.wcrl.com/finished-products,24-Apr

In [4]:
# Aggregate data by country through pivot tables of different attributes
# Each pivot table counts the number of factories per country for each attribute category

# Total number of unique factories per country
factory_pivot = raw.pivot_table(
    index='country', values='factory_id', aggfunc='nunique')
# Number of factories per country per material type
material_pivot = raw.pivot_table(index='country', columns=[
                                 'material_type'], values='factory_id', aggfunc='nunique', fill_value=0)
# Number of factories per country per common name
comm_name_pivot = raw.pivot_table(index='country', columns=[
                                  'comm_name'], values='factory_id', aggfunc='nunique', fill_value=0)
# Number of factories per country per scientific name
sci_name_pivot = raw.pivot_table(index='country', columns=[
                                 'sci_name'], values='factory_id', aggfunc='nunique', fill_value=0)
# Number of factories per country per functional group
func_group_pivot = raw.pivot_table(index='country', columns=[
                                   'func_group'], values='factory_id', aggfunc='nunique', fill_value=0)

In [5]:
material_pivot.head()

material_type,aquaculture by-products,fishery by-products,misc by-products,whole
country,,,,
Argentina,0,3,0,0
Australia,0,0,3,2
Brazil,0,0,8,0
Canada,0,7,0,0
Chile,11,8,0,27

In [6]:
# Drop squid column from comm_name_pivot because that is present in func_group_pivot already and is just duplicated
comm_name_pivot = comm_name_pivot.drop(columns=['Squid'])

# Rename factory_id column in factory_pivot to total_factories for clarity
factory_pivot = factory_pivot.rename(columns={'factory_id': 'total_factories'})

In [7]:
# Obtain list of unique countries in dataset and set it as dataframe index
countries = raw['country'].unique()
countries_df = pd.DataFrame(index=countries)
countries_df.index.name = 'country'

In [8]:
# Join all pivot tables into a final dataframe indexed by country
final = countries_df.join(
    [factory_pivot, material_pivot, comm_name_pivot, sci_name_pivot, func_group_pivot])

# reset index to make country a column again
final = final.reset_index()

# Fill Nan values with 0
final = final.fillna(0)

# Write final dataframe to csv
final.to_csv('../data/processed/factory_counts_by_country.csv', index=False)

In [9]:
# Inspect first few rows of the final dataframe
final.head()

,country,total_factories,aquaculture by-products,fishery by-products,misc by-products,whole,Alaska Pollack,Albacore Tuna,Anchoveta,Anchovy,...,Medium reef assoc. fish (30 - 89 cm),Other demersal invertebrates,Shrimps,Small benthopelagics (<30 cm),Small demersals (<30 cm),Small pelagics (<30 cm),Small reef assoc. fish (<30 cm),Small to medium flatfishes (<90 cm),Small to medium rays (<90 cm),Squid
0,Argentina,4,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Australia,5,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Brazil,8,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Canada,7,0.0,7.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
4,Chile,33,11.0,8.0,0.0,27.0,0.0,0.0,4.0,8.0,...,0.0,0.0,1.0,0.0,0.0,23.0,0.0,0.0,0.0,0.0

In [27]:
# Inspect data for Chile and Peru
final[(final['country'] == 'Chile') | (final['country'] == 'Peru')]

,country,total_factories,aquaculture by-products,fishery by-products,misc by-products,whole,Alaska Pollack,Albacore Tuna,Anchoveta,Anchovy,...,Medium reef assoc. fish (30 - 89 cm),Other demersal invertebrates,Shrimps,Small benthopelagics (<30 cm),Small demersals (<30 cm),Small pelagics (<30 cm),Small reef assoc. fish (<30 cm),Small to medium flatfishes (<90 cm),Small to medium rays (<90 cm),Squid
4,Chile,33,11.0,8.0,0.0,27.0,0.0,0.0,4.0,8.0,...,0.0,0.0,1.0,0.0,0.0,23.0,0.0,0.0,0.0,0.0
40,Peru,125,0.0,49.0,0.0,76.0,0.0,0.0,76.0,0.0,...,0.0,0.0,0.0,0.0,0.0,76.0,0.0,0.0,0.0,0.0

In [ ]:
# Convert columns with counts the number of factories per country for each attribute category into percent of total factories in that country for better comparison between countries
final_percent = final.copy()
# Skip first two columns (country and total_factories)
for col in final.columns[2:]:
    final_percent[col] = round(final[col] / final['total_factories']*100, 2)

In [38]:
final_percent.head()

,country,total_factories,aquaculture by-products,fishery by-products,misc by-products,whole,Alaska Pollack,Albacore Tuna,Anchoveta,Anchovy,...,Medium reef assoc. fish (30 - 89 cm),Other demersal invertebrates,Shrimps,Small benthopelagics (<30 cm),Small demersals (<30 cm),Small pelagics (<30 cm),Small reef assoc. fish (<30 cm),Small to medium flatfishes (<90 cm),Small to medium rays (<90 cm),Squid
0,Argentina,4,0.00,75.00,0.0,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,25.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0
1,Australia,5,0.00,0.00,60.0,40.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0
2,Brazil,8,0.00,0.00,100.0,0.00,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0
3,Canada,7,0.00,100.00,0.0,0.00,0.0,14.29,0.00,14.29,...,0.0,0.0,0.00,0.0,14.29,28.57,0.0,0.0,0.0,0.0
4,Chile,33,33.33,24.24,0.0,81.82,0.0,0.00,12.12,24.24,...,0.0,0.0,3.03,0.0,0.00,69.70,0.0,0.0,0.0,0.0

In [55]:
# Making sure none of the rows have a ratio more than 1
final_percent[(final_percent[final_percent.columns[2:]] < 75).all(axis=1)]

,country,total_factories,aquaculture by-products,fishery by-products,misc by-products,whole,Alaska Pollack,Albacore Tuna,Anchoveta,Anchovy,...,Medium reef assoc. fish (30 - 89 cm),Other demersal invertebrates,Shrimps,Small benthopelagics (<30 cm),Small demersals (<30 cm),Small pelagics (<30 cm),Small reef assoc. fish (<30 cm),Small to medium flatfishes (<90 cm),Small to medium rays (<90 cm),Squid
1,Australia,5,0.00,0.00,60.0,40.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
5,China,22,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
8,Ecuador,18,0.00,72.22,0.0,27.78,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,5.56,0.00,72.22,0.00,0.00,0.0,0.00
13,France,6,50.00,33.33,0.0,33.33,0.00,0.0,0.00,16.67,...,0.00,16.67,0.00,0.00,0.00,50.00,0.00,33.33,0.0,16.67
16,Germany,3,0.00,33.33,0.0,33.33,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,33.33,0.00,0.00,0.0,0.00
18,India,23,0.00,17.39,0.0,43.48,0.00,0.0,0.00,4.35,...,4.35,0.00,0.00,0.00,8.70,39.13,4.35,0.00,0.0,0.00
19,Indonesia,11,0.00,45.45,0.0,36.36,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,36.36,0.00,0.00,0.0,0.00
20,Iran,3,0.00,33.33,0.0,33.33,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,33.33,0.00,0.00,0.0,0.00
21,Ireland,3,33.33,66.67,0.0,66.67,0.00,0.0,0.00,33.33,...,0.00,0.00,0.00,0.00,33.33,66.67,0.00,0.00,0.0,0.00
22,Japan,3,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
23,South Korea,2,0.00,50.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,50.00
24,Latvia,5,40.00,40.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,40.00,0.00,0.00,0.0,0.00
26,Malaysia,4,0.00,25.00,0.0,25.00,0.00,0.0,0.00,25.00,...,0.00,0.00,0.00,0.00,0.00,25.00,0.00,0.00,0.0,0.00
27,Mauritania,42,0.00,4.76,0.0,14.29,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,14.29,0.00,0.00,0.0,0.00
28,Kazakhstan,1,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
30,Mexico,11,18.18,27.27,0.0,54.55,0.00,0.0,9.09,9.09,...,0.00,0.00,18.18,0.00,0.00,54.55,0.00,0.00,0.0,0.00
32,Myanmar,4,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
34,New Zealand,10,10.00,40.00,10.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
35,Norway,17,35.29,58.82,0.0,52.94,0.00,0.0,0.00,0.00,...,0.00,0.00,5.88,0.00,0.00,47.06,0.00,0.00,0.0,0.00
36,Oman,5,0.00,40.00,0.0,60.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,40.00,0.00,0.00,0.0,0.00
37,Pakistan,3,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
40,Peru,125,0.00,39.20,0.0,60.80,0.00,0.0,60.80,0.00,...,0.00,0.00,0.00,0.00,0.00,60.80,0.00,0.00,0.0,0.00
43,Portugal,2,50.00,50.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
44,Russia,2,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
45,South Africa,5,0.00,60.00,0.0,20.00,0.00,0.0,0.00,20.00,...,0.00,0.00,0.00,0.00,0.00,60.00,0.00,0.00,0.0,0.00
52,Tunisia,2,0.00,50.00,0.0,0.00,0.00,50.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
54,United Arab Emirates,2,0.00,0.00,0.0,50.00,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,50.00,0.00,0.00,0.0,0.00
56,United States of America,13,0.00,61.54,0.0,38.46,0.00,0.0,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
57,Vietnam,16,68.75,31.25,0.0,18.75,6.25,12.5,0.00,0.00,...,6.25,0.00,0.00,0.00,6.25,6.25,6.25,0.00,0.0,0.00
58,Yemen,4,25.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,...,0.00,0.00,25.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00

## Clustering algorithm

- Standardizing
- Dimension reduction (PCA? NMF?)
- Model selection: Hierarchial